<%= form_for @movie do |m| %>

<% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@movie.errors.count, "error") %> prohibited
        this movie from being saved:
      </h2>
      <ul>
        <% @movie.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= m.label :title %><br>
    <%= m.text_field :title %>
  </p>
 
  <p>
    <%= m.label :year %><br>
    <%= m.text_field :year %>
  </p>
  
  <p>
    <%= m.label :rating %><br>
    <%= m.text_field :rating %>
  </p>
  
  <p>
    <%= m.label :description %><br>
    <%= m.text_area :description %>
  </p>
 
  <p>
    <%= m.submit %>
  </p>
<% end %>